# Build
build/
cmake-build-*/
*.o
*.so
*.pyd
*.pyc
__pycache__/

# Python
.venv/
*.egg-info/
dist/
*.whl

# Data (large files)
data/maxmind/*.mmdb

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# NetScope
~/.netscope/

venv/
aws/
awscliv2.zip
test_ddb.py

